/* debugger.css */
body {
	font-family: monospace;
	display: grid;
	grid-template: 
		"main main"
		"ctx1 ctx2"
		"vbin fbin"
		/ 1fr 1fr;
	grid-gap: 4px;
}

.mainContext {
	grid-area: main;
}
#ctx1 {
	grid-area: ctx1;
	background-color: #ceffce;
}
#ctx1::before {
	content: 'Script Context 1';
}
#ctx2 {
	grid-area: ctx2;
	background-color: #ced2ff;
}
#ctx2::before {
	content: 'Script Context 2';
}
#varBin {
	grid-area: vbin;
	background-color: #fbfecc;
}
#varBin::before {
	content: 'Variable Changes';
}
#flagBin {
	grid-area: fbin;
	background-color: #ffe0ce;
}
#flagBin::before {
	content: 'Flag Changes';
}


.scriptContext {
	padding: 8px;
	border: 1px solid gray;
	position: relative;
}
.scriptContext::before {
    position: absolute;
    top: 4px;
    right: 8px;
}
.scriptContext .status {
	display: block;
    margin: -8px -8px 6px -8px;
    background-color: #a7a7a7;
    padding: 4px 9px;
}
.scriptContext .status[status=enabled] {
	background-color: #2fde03;
}
.scriptContext .status[status=disabled],
.scriptContext .status[status=stopped] {
	background-color: #b32302;
}
.scriptContext .status::after {
	content: 'Status: 'attr(status);
}
.scriptContext [name=nativePtr],
.scriptContext [name=scriptPtr] {
	/* display: block;
	border: 1px solid black; */
	color: #b1b1b1;
}
.scriptContext .activeMode {
	background-color: #fffdbf;
	border: 1px solid #c1c1c1;
	color: #000000;
}
.scriptContext label {
	display: flex;
	padding-bottom: 1px;
}
.scriptContext label input[type=text] {
	width: 80%;
	flex-grow: 1;
	margin-left: 1ch;
}
.scriptContext .stack {
    /* width: 8em; */
    border: 1px solid gray;
    background-color: #e8e8e8;
}
.scriptContext .stack stackframe {
	display: none;
	background-color: #efefef;
	text-align: center;
}
.scriptContext .stack stackframe:nth-child(-n+5) { /* always show the first 5 stack frames */
	display: block;
}
.scriptContext .stack stackframe:nth-child(2n) {
	background-color: #dcdcdc;
}
.scriptContext .stack stackframe.active {
	display: block;
	background-color: #b0d9fd;
}
.scriptContext .stack stackframe.active:nth-child(2n) {
	background-color: #81c4ff;
}
.scriptContext .cmdTable {
	display: block;
	border: 1px solid black;
}
.scriptContext .mdata {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 8px;
}
.scriptContext .stackDepth {
	order: 0;
}
.scriptContext .mode {
	order: 1;
}
.scriptContext .comparisonResult {
	order: 2;
}
.scriptContext .data {
	padding-left: 6ch;
}
.scriptContext .data::before {
	content: 'Data: ';
	margin-left: -6ch;
}

.changeBin {
	padding: 8px;
	border: 1px solid gray;
	position: relative;
}
.changeBin::before {
    position: absolute;
    top: 4px;
    right: 8px;
}
.changeBin .bar {
	display: block;
    margin: -8px -8px 6px -8px;
    background-color: #a7a7a7;
    padding: 4px 9px;
}
.changeBin label {
	display: inline-block;
	border: 1px solid gray;
	padding: 1px 6px;
    border-radius: 8px;
	background-color: #dbdbdb;
	transition-property: background-color;
	transition-delay: 2s;
	transition-duration: 6s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.changeBin label .prev, 
.changeBin label .curr {
	background-color: white;
	padding: 0px 1px;
}
.changeBin label.changed {
	background-color: #2fde03;
	transition-duration: 0s;
	transition-delay: 0s;
}
.changeBin label > input[type=text] {
	width: 4ch;
	text-align: right;
}
.changeBin .oftList {
	/* border-bottom: 1px solid gray; */
}
